.input-Style-For-tags{
    display: block;
    width: 146px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding:0px 10px
}

.input-Style-For-tags:focus{
outline: 0;
}